
html, body, input {
 font-family: Georgia, Tahoma, Arial, sans-serif;
 margin: 0;
 padding: 0;
}

body {
 background: #302F31;
 padding: 10px;
}

form {
 margin: 15px 0;
}

#user {
    border: 2px solid #eb5424;
    border-radius: 5px;
    padding: 5px;
    width: 15%;
}

#msg_text {
 border: 2px solid #eb5424;
 border-radius: 5px;
 padding: 5px;
 width: 55%;
}

form input[type='submit'] {
 background: #eb5424;
 border: none;
 border-radius: 5px;
 color: #FFF;
 cursor: pointer;
 font-weight: bold;
 padding: 7px 5px;
 width: 19%;
}

#history {
 background: #FFF;
 border: 2px solid #eb5424;
 height: 550px;
}